$panelMaxWidth: 350px;
$panelMaxWidthCentered: 600px;
$panelMaxHeight: 600px;
.panel{
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	max-width: $panelMaxWidth;
	background-color:white;
	transition:left .5s, right .5s;
	z-index: 151;
	padding:1rem;
	overflow-y: scroll;
	&[data-panelside="center"]{
		transition:opacity 0.5s;
		max-height:$panelMaxHeight;
		max-width:$panelMaxWidthCentered;
		left:-$panelMaxWidthCentered;
		top:50%;
		opacity: 0;
		height: calc(100% - 2rem);
		width: calc(100% - 2rem);
		&.open{
			left:50%;
			opacity: 1;
			transform:translate(-50%, -50%);
		}
	}
	&[data-panelside="left"]{
		left:-$panelMaxWidth;
		&.open{
			left:0%;
		}
	}
	&[data-panelside="right"]{
		right:-$panelMaxWidth;
		&.open{
			right:0%;
		}
	}
}
body{
	&.panel-open{
		overflow: hidden;
		.panel-bg{
			background: rgba(0, 0, 0, 0.5);
			height: 100%;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 0;
		}
	}	
}
.toggle-panel,
.close-panel{
	cursor: pointer;
}
